.card-img-top {
    height: 300px; /* กำหนดความสูงให้เท่ากัน */
    object-fit: cover; /* ครอบรูปให้พอดี */
}

/* เพิ่มปุ่มลอย */
.floating-btn {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* ให้ปุ่มลอยอยู่เหนือทุกวัตถุ */
    color: black;
    font-size: 22px;
    font-weight: 700;
    border-radius: 20px;
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.floating-btn:hover {
    background-color: #0056b3;
}
